.wrapper {
  width: 75%;
  height: 800px;
  background-color: pink;
  margin: auto;
}

.left {
  width: 468px;
  height: 100px;
  background-color: red;
  float: left;
}

.right {
  width: 468px;
  height: 100px;
  background-color: blue;
  float: left;
}

@media screen and (max-width: 480px) {
  .wrapper{
    background-color: lightgreen;
  }
  .left{
    width: 100%;
  }
  .right{
    display: none;
  }
}
